[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
streamlit = "*"
st-pages = "*"
tabula-py = "*"
pdf2image = "*"
pandas = "*"
altair = "==5.0.0rc1"
voliboli-pdf-scraper = {editable = true, path = "./../PDFscraping"}
streamlit-timeline = "*"
pyyaml = "*"
streamlit-authenticator = "*"
extra-streamlit-components = "*"
cookies = "*"

[dev-packages]

[requires]
python_version = "3.10"
