[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
st-pages = "*"
tabula-py = "*"
pandas = "*"
altair = "==5.0.0rc1"
streamlit-timeline = "*"
pyyaml = "*"
streamlit-authenticator = "*"
voliboli-pdf-scraper = "*"
streamlit = {subdirectory = "lib", editable = true, git = "https://github.com/Voliboli/streamlit.git"}

[dev-packages]

[requires]
python_version = "3.10"
